.mapContainer {
    width:44em;
}
div#map{
    border: 1px solid black;
    display: inline-flex;
    width: 4em;
    height: 4em;
    text-align: center;
    border-collapse: collapse
}
cell.ng-binding.ng-scope.player { 
    background-color: blue;
}
.bedrock .bedrock{
    background-color: grey;
}
cell {
    width: 4em;
    height: 4em;
    display: inline-flex;
}

.path{
    
     background-image: url("../img/2x2-sand-path,50X50.jpg");
     background-size: 4em;
 }
