
<!DOCTYPE html>
<html lang="en" ng-app="bombermanApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body ng-controller="bomberControl"> 
    <div class="mapContainer" ng-class-odd="'path'" data-ng-class-even="'bedrock'" ng-repeat="x in xcord track by $index">
        <cell ng-class-odd="'path'" data-ng-class-even="'bedrock'" ng-repeat="y in ycord track by $index" >{{y}}.{{x}}</cell>
    </div>
    
    <script src="./lib/jquery-3.2.1.js"></script>
    <script src="./lib/angular.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>